* {
    margin: 0;
    padding: 0;
}

:root {
    --background_color_light:#f1f1f1;
    --background_color_dark: #424242;
    --h1_header_color:#222222;
    --h2_header_color: coral;
    --h3_header_color:#694031;
    --p_paragraph_color:#7D7987;
    --menu_link_color: cornflowerblue;
    --menu_hover_color: #f1f1f1;
    --menu_active_color: coral;
    --button_link_color:#f1f1f1;
    --button_hover_color:cornflowerblue;
    --button_active_color:coral;
    --font_family: 'Raleway', sans-serif;
}

img {
    max-width: 100%;
}

body {
    font-family: var(--font_family);
    background-color: var(--background_color_light);
}

.center {
    padding-left: calc(10%);
    padding-right: calc(10%);
}

.left {
    margin-right: auto;
}

.right {
    margin-left: auto;
}

a {
    text-decoration: none;
}

.header {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    gap: 10%;
    background-color: var(--background_color_dark);
}

.header__menu {
    display: flex;
    gap: 10%;
    background-color:var(--background_color_dark);
}

.header__link {
    vertical-align: auto;;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--menu_link_color);
    margin: auto;
}

.header__link:hover {
    color: var(--menu_hover_color);
}

.header__link:active {
    color: var(--menu_active_color);
}

.header__link:first-child {
    text-decoration: underline;
}


.top {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 22px;

}

.h1_title {
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 36px;
    color: var(--h1_header_color);
    mix-blend-mode: normal;
    text-align: center;
}

.button {
    display: block;
    width: 190px;
    height: 60px;
    border: 1px solid var(--button_link_color);
    text-align: center;
    line-height: 60px;
    color: var(--button_link_color);
    font-size: 20px;
    border-radius: 50%;
    transition: all .3s;
}

.button:hover {
    color: var(--button_hover_color);
    border-color: var(--button_hover_color);
}

.button:active {
    color: var(--button_active_color);
}

.about {
    padding-top: 64 px;
    padding-bottom: 64px;
}

.list__item_new::after {
    content: ' new!';
    color: var(--h2_header_color);
}

.list__item:hover::after {
    content: ' <<'
}

.h2_heading {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 80px;
    color: var(--h2_header_color);
    mix-blend-mode: normal;
    text-align: center;
}

.about__content {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.h3_title {
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 80px;
    color: var(--h3_header_color);
    mix-blend-mode: normal;
}

.p_paragraph {
    margin: auto;;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: var(--p_paragraph_color);
    mix-blend-mode: normal;
}


.about__content {
    justify-content: center;
    gap: 32px;
}

.heading {
    text-align: center;
}



@media (max-width: 767px) {
    .title {
        font-size: 48px;
        line-height: 56px;
        text-align: center;
    }

    .heading {
        font-size: 36px;
        line-height: 48px;
        text-align: center;
    }

    .header {
        justify-content: center;
    }
}